.about-us-header {
  height: 90vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("/about-us/images/about-us-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: $cloud;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h4 {
    max-width: 950px;
    line-height: 3.2rem;
    font-weight: 500;
    padding-bottom: 12rem;
  }
}

hr.hr-2-about {
  border: 0;
  height: 6px;
  width: 15%;
  background: $slate;
  margin-top: 2rem;
  border-radius: 3px;
  margin-bottom: 4rem;
  background-image: linear-gradient(
    to right,
    $evergreen,
    $evergreen,
    $evergreen
  );
}

/* PROFILE CARDS */
.board-profiles {
  height: 222vh;
  width: 100vw;
  padding: 10rem 0;
}

.board-heading {
  letter-spacing: 2px;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

.board-heading::after {
  content: "";
  width: 10rem;
  height: 0.8rem;
  border-radius: 8px;
  background-color: $fireyellow;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.board-card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.board-card {
  width: 40rem;
  background: $dorian;
  color: $onyx;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  .board-card-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
    border-radius: 8px 8px 0 0;
  }
  h3 {
    font-size: 3rem;
    margin: 1.5rem 0;
  }
}

.profile-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -11rem;
  z-index: 999;
  border: 1rem solid $dorian;
}

.job-title {
  color: $lightslate;
  font-size: 2rem;
  font-weight: 300;
}

.about {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  font-style: italic;
  text-align: center;
  color: $slate;
}

.board-btn {
  padding: 1rem 2.5rem;
  background: $fireyellow;
  border-radius: 8px;
  margin: 1rem 0;
  text-transform: uppercase;
  color: $onyx;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.35s ease-in-out;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
  }
  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.board-social-media-links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  i {
    font-size: 3rem;
    color: $lightslate;
    transition: all 0.35s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
}

/* MAIN CONTENT */
.main-info-container,
.about-content {
  display: flex;
}
.main-info-container {
  flex-direction: column;
}
.about-content {
  color: $slate;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 25rem;
  margin-bottom: 15rem;
  p {
    padding-bottom: 4rem;
    line-height: 2.8rem;
    font-size: 1.8rem;
    -webkit-column-width: 500px;
    -moz-column-width: 500px;
    column-width: 500px;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  h2 {
    color: $onyx;
    padding: 2rem;
  }
}
.header-div-1 {
  background-color: $fireyellow;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  border-radius: 8px 8px 0 0;
  margin-bottom: 2rem;
  min-width: 325px;
}
.header-div-2 {
  background-color: $bluespruce;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  border-radius: 8px 8px 0 0;
  margin-bottom: 2rem;
  min-width: 325px;
}
.col-2 {
  background-color: $dorian;
  border-radius: 8px 8px 8px 8px;
  width: 50%;
  max-width: 700px;
  margin: 10rem auto;
  min-width: 325px;
}
.col-3 {
  background-color: $dorian;
  border-radius: 8px 8px 8px 8px;
  width: 50%;
  min-width: 325px;
  max-width: 700px;
  margin: 10rem auto;
}

.who-we-are-heading {
  letter-spacing: 2px;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

.who-we-are-heading::after {
  content: "";
  width: 10rem;
  height: 0.8rem;
  border-radius: 8px;
  background-color: $fireyellow;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

/* BUTTONS */
.about-buttons-wrapper {
  height: 50vh;
}
.about-buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20rem;
}
.button-text-wrapper {
  display: flex;
  max-width: 300px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 6px solid $bluespruce;
  border-radius: 8px;
  padding: 3rem;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  &:hover {
    background: $bluespruce;
    transform: translateY(-2px);
  }
  p {
    font-weight: 500;
    font-size: 1.8rem;
  }
}
.about-button {
  max-width: 150px;
  width: 100%;
  margin-bottom: 2rem;
}
.about-button-lrg {
  max-width: 110px;
  width: 100%;
  margin-bottom: 2rem;
}

/* LEADERSHIP */
.leadership-profile {
  height: 150vh;
}
.leadership-card {
  width: 60rem;
  background: $fireyellow;
  color: $onyx;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  .board-card-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73%);
    border-radius: 8px 8px 0 0;
  }
  h3 {
    font-size: 3rem;
    margin: 1.5rem 0;
  }
}

.leadership-profile-img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -11rem;
  z-index: 999;
  border: 1rem solid $fireyellow;
}

.leadership-btn {
  background: $dorian;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .board-profiles {
    height: 650vh;
  }
  .leadership-profile {
    height: 170vh;
  }
  .leadership-card {
    width: 34rem;
  }
  .board-card {
    width: 34rem;
  }
  .about-buttons-wrapper {
    height: 150vh;
  }
  .button-text-wrapper {
    margin: 2rem 0;
  }
  .about-us-header {
    h1 {
      font-size: 4rem;
    }
    h4 {
      max-width: 950px;
      line-height: 2.3rem;
      font-weight: 500;
      padding-bottom: 15rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (min-width: 700px) {
  .board-card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .board-card {
    margin: 2rem;
  }
}
