.redi-header {
  height: 90vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("/our-work/images/climate-redi-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: $cloud;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  span {
    color: $fireyellow;
  }
}

.climate-redi-container {
  height: 100vh;
}

.climate-redi-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  h4 {
    max-width: 950px;
    width: 100%;
    line-height: 3.2rem;
    color: $fireyellow;
  }
}

.cr-main-header {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  width: 100%;
}
