.redi-header {
  height: 90vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("/our-work/images/climate-redi-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: $cloud;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  span {
    color: $fireyellow;
  }
}

.climate-redi-container {
  height: auto;
}

.climate-redi-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  .yellow-header {
    max-width: 950px;
    width: 100%;
    line-height: 3.2rem;
    color: $fireyellow;
  }
  h4 {
    max-width: 800px;
    width: 100%;
    line-height: 3.2rem;
  }
}

.cr-main-header {
  position: absolute;
  width: 100%;
  max-width: 1200px;
}

.cr-main-subheader {
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto;
  text-transform: none;
}

.climate-redi-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.redi-img-2 {
  width: 100%;
  max-width: 300px;
  padding-right: 4rem;
}
.redi-img-3 {
  width: 100%;
  max-width: 450px;
  // padding-right: 4rem;
}

.yellow-highlight {
  background: linear-gradient(
    to right,
    $fireyellow 100%,
    $fireyellow 5px,
    transparent
  );
  background-repeat: repeat-x;
  background-size: 100%;
  color: $onyx;
  padding-left: 1rem;
  text-decoration: none;
}

/* symposium */
.symposium {
  height: auto;
}

.symposium-header {
  text-align: center;
}

.symp-header-wrapper {
  background: $dorian;
}

.symposium-wrapper {
  margin-top: 20rem;
}

.symp-overview {
  margin: 0 auto;
  color: $cloud;
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
  width: 60vw;
  font-size: 1.8rem;
  line-height: 1.8;
}

.symp-card {
  margin-top: 10rem;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.symp-card:last-child {
  margin-bottom: 10rem;
}

.symp-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $dorian;
  color: $onyx;
  border-radius: 8px;
  padding: 2rem;
}

.symp-col {
  margin-bottom: 2rem;
  h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.8;
    width: 75%;
    margin: 0 auto;
  }
}

.symp-bios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  p {
    font-size: 1.8rem;
    font-weight: 600;
  }
}
