.news-truth-rising {
  height: 100vh;
}

/* NEWS SLIDER */
.slider-title {
  text-align: center;
  margin: 3rem 3rem;
}

.news-slider {
  position: relative;
}

.news-wrapper {
  width: 80%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
}

.post {
  background: $dorian;
  color: $slate;
  display: inline-block;
  margin: 0px 1rem;
  padding: 0;
  border-radius: 8px;
  max-width: 100%;
  width: 300px;
  height: auto;
  box-shadow: 1rem 1rem 1rem -1rem #000;
  outline: none;
}

.next {
  position: absolute;
  top: 50%;
  right: 8rem;
  font-size: 4rem;
  color: $dorian;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  &:hover {
    color: $fireyellow;
  }
}

.prev {
  position: absolute;
  top: 50%;
  left: 8rem;
  font-size: 4rem;
  color: $dorian;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  &:hover {
    color: $fireyellow;
  }
}

.slider-image {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  top: 0;
  object-fit: cover;
}

.post-info {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  font-family: "Roboto", sans-serif;
  // h5 {
  //   margin: 5px;
  // }
}

.author-cal-wrapper {
  padding-top: 2rem;
}

.link-dark {
  font-weight: 700;
  font-size: 1.6rem;
  color: $onyx;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  &:hover {
    color: #566266;
  }
}

.fa-user,
.fa-calendar {
  color: $slate;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .slider-title {
    font-size: 4rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .link-dark {
    font-size: 1.3rem;
  }
  .post-info {
    padding: 0 0.3rem;
  }
  .fa-user,
  .fa-calendar {
    font-size: 1.2rem;
  }
  .next {
    right: 3rem;
  }
  .prev {
    left: 3rem;
  }
  .slider-title {
    font-size: 4rem;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .link-dark {
    font-size: 1.3rem;
  }
  .post-info {
    padding: 0 0.3rem;
  }
  .fa-user,
  .fa-calendar {
    font-size: 1.2rem;
  }
  .next {
    right: 3rem;
  }
  .prev {
    left: 3rem;
  }
}

/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .link-dark {
    font-size: 1.3rem;
  }
  .post-info {
    padding: 0 0.3rem;
  }
  .fa-user,
  .fa-calendar {
    font-size: 1.2rem;
  }
  .next {
    right: 3rem;
  }
  .prev {
    left: 3rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .link-dark {
    font-size: 1.3rem;
  }
  .post-info {
    padding: 0 0.3rem;
  }
  .fa-user,
  .fa-calendar {
    font-size: 1.2rem;
  }
  .next {
    right: 3rem;
  }
  .prev {
    left: 3rem;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .next {
    right: 3rem;
  }
  .prev {
    left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .link-dark {
    font-size: 1.4rem;
  }
}
