.ow-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent),
    url("/our-work/images/our-work-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-work-main-wrapper {
  height: 200vh;
}

.our-work-main-wrapper {
  text-align: center;
}

.our-work-fade {
  position: relative;
  max-height: 150px;
}

.justice-rising-header {
  margin: 5rem auto;
  max-width: 900px;
}

.h3-replacement-yellow {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $fireyellow;
}

.h3-replacement {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5rem;
}

/* JUSTICE RISING */
.justice-rising-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.justice-rising-img {
  max-width: 200px;
  width: 100%;
}

.justice-rising-col {
  max-width: 400px;
  width: 100%;
}
.justice-rising-col-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 400px;
  width: 100%;
}

.justice-rising-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
  padding: 2rem 0;
  p {
    margin: 1rem 0;
  }
}

.justice-rising-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
  a {
    margin: 1rem 0;
  }
}

hr.hr-2-white {
  border: 0;
  height: 2px;
  background: $slate;
  margin-top: 20rem;
  background-image: linear-gradient(to right, #333, $cloud, #333);
}

.justice-rising-row-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.redi-img {
  width: 100%;
  max-width: 300px;
}

/* INFO GRAPHIC */

.info-graphic {
  display: flex;
  align-items: flex-end;
  height: 150vh;
}
.our-work-infographic {
  width: 100%;
  bottom: 0;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .our-work-main-wrapper {
    h3 {
      padding: 4rem 4rem;
    }
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 360px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .ow-header {
    h1 {
      font-size: 4rem;
    }
  }
  .justice-rising-row {
    flex-direction: column;
  }
  .justice-rising-row-2 {
    flex-direction: column;
  }
  .info-graphic {
    height: 250vh;
  }
  .our-work-main-wrapper {
    height: 350vh;
  }
  .our-work-main-wrapper {
    h3 {
      padding: 1rem 1rem;
      font-size: 1.8rem;
    }
  }
  .justice-rising-img {
    margin-top: 10rem;
  }
  .justice-rising-info {
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  .justice-rising-links {
    align-items: center;
  }
  .redi-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* Landscape */
@media only screen and (min-device-width: 568px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .justice-rising-row {
    flex-direction: column;
  }
  .ow-header {
    h1 {
      font-size: 4rem;
    }
  }
  .justice-rising-row-2 {
    flex-direction: column;
  }
  .info-graphic {
    height: 450vh;
  }
  .our-work-main-wrapper {
    height: 800vh;
  }
  .our-work-main-wrapper {
    h3 {
      padding: 2rem 2rem;
      font-size: 2rem;
    }
  }
  .justice-rising-img {
    margin-top: 10rem;
  }
  .justice-rising-info {
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  .justice-rising-links {
    align-items: center;
  }
  .redi-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* ----------- iPad Pro 12.9" ----------- */
/* Portrait */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .info-graphic {
    height: 100vh;
  }
  .our-work-main-wrapper {
    height: 100vh;
  }
}

/* ----------- iPad Pro 10.5" ----------- */
/* Portrait */
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .info-graphic {
    height: 100vh;
  }
  .our-work-main-wrapper {
    height: 100vh;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .info-grafphic {
    height: 100vh;
  }
  .our-work-main-wrapper {
    height: 1532ol0vh;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .justice-rising-row {
    flex-direction: column;
  }
  .justice-rising-row-2 {
    flex-direction: column;
  }
  .info-graphic {
    height: 175vh;
  }
  .our-work-main-wrapper {
    height: 350vh;
  }
  .our-work-main-wrapper {
    h3 {
      padding: 2rem 2rem;
      font-size: 2rem;
    }
  }
  .justice-rising-img {
    margin-top: 10rem;
  }
  .justice-rising-info {
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  .justice-rising-links {
    align-items: center;
  }
  .redi-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .justice-rising-row {
    flex-direction: column;
  }
  .ow-header {
    h1 {
      font-size: 2rem;
    }
  }
  .justice-rising-row-2 {
    flex-direction: column;
  }
  .info-graphic {
    height: 475vh;
  }
  .our-work-main-wrapper {
    height: 450vh;
  }
  .our-work-main-wrapper {
    h3 {
      padding: 2rem 2rem;
      font-size: 2rem;
    }
  }
  .justice-rising-img {
    margin-top: 10rem;
  }
  .justice-rising-info {
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  .justice-rising-links {
    align-items: center;
  }
  .redi-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .justice-rising-row {
    flex-direction: column;
  }
  .ow-header {
    h1 {
      font-size: 2rem;
    }
  }
  .justice-rising-row-2 {
    flex-direction: column;
  }
  .info-graphic {
    height: 400vh;
  }
  .our-work-main-wrapper {
    height: 450vh;
  }
  .our-work-main-wrapper {
    h3 {
      padding: 2rem 2rem;
      font-size: 2rem;
    }
  }
  .justice-rising-img {
    margin-top: 10rem;
  }
  .justice-rising-info {
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  .justice-rising-links {
    align-items: center;
  }
  .redi-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .info-graphic {
    height: 225vh;
  }
  .our-work-main-wrapper {
    height: 400vh;
  }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .our-work-main-wrapper {
    height: 300vh;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .justice-rising-row {
    flex-direction: column;
  }
  .ow-header {
    h1 {
      font-size: 2rem;
    }
  }
  .justice-rising-row-2 {
    flex-direction: column;
  }
  .info-graphic {
    height: 400vh;
  }
  .our-work-main-wrapper {
    height: 550vh;
  }
  .our-work-main-wrapper {
    h3 {
      padding: 2rem 2rem;
      font-size: 2rem;
    }
  }
  .justice-rising-img {
    margin-top: 10rem;
  }
  .justice-rising-info {
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  .justice-rising-links {
    align-items: center;
  }
  .redi-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* ----------- iPhone XR ----------- */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .our-work-main-wrapper {
    height: 250vh;
  }
}
/* Landscape */
@media only screen and (min-device-width: 896px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .justice-rising-row {
    flex-direction: column;
  }
  .ow-header {
    h1 {
      font-size: 2rem;
    }
  }
  .justice-rising-row-2 {
    flex-direction: column;
  }
  .info-graphic {
    height: 400vh;
  }
  .our-work-main-wrapper {
    height: 450vh;
  }
  .our-work-main-wrapper {
    h3 {
      padding: 2rem 2rem;
      font-size: 2rem;
    }
  }
  .justice-rising-img {
    margin-top: 10rem;
  }
  .justice-rising-info {
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }
  .justice-rising-links {
    align-items: center;
  }
  .redi-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
