.truth-rising-page-header {
  height: 90vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("/our-work/images/turth-rising-header.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  color: $cloud;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.truth-rising-container {
  height: 200vh;
}

.truth-rising-subheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  h2 {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    width: 100%;
    text-transform: none;
  }
}

.truth-rising-info {
  color: $fireyellow;
  max-width: 525px;
  width: 100%;
  margin: 5rem auto;
  p {
    padding-bottom: 2rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.truth-rising-call-out {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h4 {
    width: 100%;
    max-width: 1000px;
  }
}

.truth-rising-call-out-2 {
  text-align: center;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    display: block;
    padding: 2rem 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
    background: $fireyellow;
    color: $onyx;
  }
}
