.truth-slider {
  height: 100vh;
  position: relative;
  h1 {
    text-align: center;
  }
}
.carousel-container {
  max-width: 1120px;
  margin: 50px auto;
  overflow: hidden;
  border: 2px solid $bluespruce;
  border-radius: 8px;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 560px;
  height: auto;
}

#prevBtn {
  position: absolute;
  top: 50;
  z-index: 10;
  left: 5rem;
  font-size: 4rem;
  color: $dorian;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  &:hover {
    color: $evergreen;
  }
}
#nextBtn {
  position: absolute;
  top: 50;
  z-index: 10;
  right: 5rem;
  font-size: 4rem;
  color: $dorian;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  &:hover {
    color: $evergreen;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .truth-slider {
    height: 150vh;
  }
}
