$evergreen: #5def80;
$bluespruce: #5dbbef;
$fireyellow: #ffc030;
$onyx: #061a24;
$slate: #1f272a;
$lightslate: #5d696d;
$dorian: #ecf1f4;
$cloud: #fafcfc;
$rose: #ef5d83;

@import "global";
@import "nav";
@import "hero-home";
@import "programs";
@import "what-is-fracking";
@import "map";
@import "stories";
@import "news-truth";
@import "accordion";
@import "truth-slider";
@import "footer";
@import "our-work";
@import "about-us";
@import "donate";
@import "volunteer";
